h1{
    color: #343a40;
    cursor: default;
}

.calendar{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.calendar button{
    color: #ced4da;
    border: none;
    width: 40px;
    background: transparent;
}

.calendar button i{
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.calendar button i:hover{
    color: #343a40;
}

