body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

header{
  width: 50%;
  margin: auto;
}

footer{
  text-align: center;
  cursor: default;
  color: #adb5bd;
}

.search{
  width: 80%;
  margin: auto;
}

.board{
  width: 80%;
  height: 33rem;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px #dee2e6;
}

::-webkit-scrollbar-thumb {
  background: #ced4da;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;  
}