body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f8f9fa;
}

header {
  text-align: center;
  color: #343a40;
}

.search{
  width: 50%;
  margin: auto;
}

.board{
  width: 50%;
  height: 30rem;
  margin: auto;
}